// start .sIntegration
.sIntegration {
	background: #eeeef2;
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	.row {
		--bs-gutter-y: 20px;
	}
	&__item {
		background: #fff;
		padding: 42px 20px;
		min-height: 100%;
		border-radius: 8px;
		display: block;
		display: flex;
		flex-direction: column;
		text-decoration: none !important;
		p {
			color: $body-color;
			margin-bottom: 1rem;
			// margin-bottom: auto;
		}
	}
	&__price {
		margin-top: auto;
	}
	&__img-wrap {
		text-align: center;
		height: 150px;
		margin-bottom: 40px;
	}
	&__title {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	&__btn {
		// padding-left: 2rem;
		// padding-right: 2rem;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: block;
		max-width: 286px;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sIntegration

.text-primary {
	color: $primary;
}
