.footer,
.header {
	background-color: #000;
}

.section-title {
	margin-bottom: var(--sTPB);
	p {
		letter-spacing: 0.02em;
		color: #7d7d7d;
		margin-bottom: 1.6em;
	}
}

a {
	@include mt;
}

.row {
	display: flex;
	flex-wrap: wrap;
	--bs-gutter-y: 0;
	margin-top: calc(-1 * var(--bs-gutter-y));
	&::before,
	&::after {
		display: none;
	}
	& > * {
		float: none;
		margin-top: var(--bs-gutter-y);
	}
	@media (min-width: 1200px) {
		--bs-guuter-x: 40px;
	}
	@include roww(20px);
}

@media (min-width: 1440px) {
	.container {
		max-width: 1430px;
		width: 100%;
	}
}

.btn-circle {
	background: linear-gradient(135deg, #1dc4f4 0%, #05aef1 100%);
	background-size: 200%;
	background-position: 50% 50%;
	&:hover {
		background-position: 0 0;
		// background-size: 100%;
	}
	box-shadow: 0px 26px 19px -12px rgba(0, 0, 0, 0.31), 0px 4px 0px #05aef1;
	border-radius: 150px;
	font-size: 16px;
	text-transform: none;
	letter-spacing: 0.02em;
	font-weight: bold;
}

p {
	margin-bottom: 1rem;
}

.col {
	flex: 1 0 0%;
}

@include media-breakpoint-down(md) {

}
	
	.top_line  .soc{
		
		justify-content: flex-end;
	}
	.top-nav__row{
		justify-content: flex-end;
	}