mixin allcss() 
	//- link(href="libs/swiper/swiper.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	//- link(href="css/main.min.old.css", rel="stylesheet")
	link(href="css/styles_23cc4cd921.min.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs() 
	script(src="js/scripts.min.js") 
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="js/common.js")