include include.pug
include js-css.pug
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="о чем страница")
		meta(http-equiv="X-UA-Compatible" content="IE=edge") 
		meta(name="viewport", content="width=device-width,initial-scale=1.0,  shrink-to-fit=no")
		link(type="image/ico", href='img/favicon.ico', rel='shortcut icon') 
		<meta name="format-detection" content="telephone=no"> 
		+allcss()
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class=mainPage data-bg=bg)
		.wrapper
			script(load="head")
			block pagecontent
				h3 content
			script(load="footer")
			
		//- script(load="modal")
		
		script(src="js/main.js") 
		+allcjs()
		
		