mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+b.section-title.text-center
				h2= sCases.title
				
			+e.cards
				mixin f()
					+e.card
						+e.img-wrap
							+pic("logo22.png")
						+e.modal
							p Отлично подойдет для автоматизации ресторана, бара, кафе, пиццерии, кальянной, суши бара, пекарни, лапшичной, фудтрака, и сетевых заведений тлично подойдет Отлично подойдет для автоматизации ресторана, бара, кафе, пиццерии, кальянной, суши бара, пекарни, лапшичной, фудтрака, и сетевых заведений тлично подойдет
							+e.name Сергей Валериев
							.small Владелец сети кофеен Coffee House
				- for (var x = 0; x < 16; x++)
					+f
					+e.card
				+f
	// end sCases