mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+b.section-title.text-center
				h2= sCases.title
			+e.slider--js.swiper
				.swiper-wrapper
					.swiper-slide
						+e.cards
							mixin f(modal)
								+e.card
									+e.img-wrap(href="#")
										+pic("logo22.png")
									+e.modal
										.text-center
											+pic("logo22.png")
										p Отлично подойдет для автоматизации ресторана, бара, кафе, пиццерии, кальянной, суши бара, пекарни, лапшичной, фудтрака, и сетевых заведений тлично подойдет Отлично подойдет для автоматизации ресторана, бара, кафе, пиццерии, кальянной, суши бара, пекарни, лапшичной, фудтрака, и сетевых заведений тлично подойдет
										a(href="#") Читать отзыв полностью 
										+e.name Сергей Валериев
										.small Владелец сети кофеен Coffee House
							- for (var x = 0; x < 16; x++)
								+f(x)
								+e.card
							+f(18)
			.text-center
				p Начните автоматизацию своего бизнеса с FusionPOS бесплатно первые 14 дней!
				+e.btn.btn-circle.btn.btn-primary(href="#") Попробовать бесплатно
	// end sCases