mixin sManagement(data)
	// start sManagement
	+b.SECTION.sManagement.section#franshiza&attributes(attributes)
		.container
			.row
				.col-lg-5.col-xs-12
					+b.section-title
						p= sManagement.titlesub
						h2= sManagement.title
					p= sManagement.p
				.col-lg-7
					img(src=`${sManagement.img}`, alt="", loading="lazy")
	// end sManagement