// start .sManagement
.sManagement {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	h2,
	p {
		max-width: 506px;
	}
	.row {
		align-items: center;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	@include media-breakpoint-up(xl) {
		margin-top: 160px;
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sManagement
